body
{
    font-family:calibri;
    margin:0;
}

div.menu
{
    background-color:black;
    text-align:center;
    position:fixed;
    top:0;
    width:100%;
}
div.smenu
{
    background-color:black;
    text-align:center;
    position:fixed;
    top:40;
    width:100%;
}


ul
{   list-style:none;
    text-align:center;
    padding-right:15px;
}
li
{
    display:inline;
    font-size:15px;
    padding-right:80px;

}
a.one
{
    color:silver;
    padding: 3px 2px;
    text-decoration:none;
    font-weight:100;
}


a.one:hover
{
color:white;
font-size:18px;
}
img.logo1
{
height:21px;
width:21px;
}



}

div.watch
{
    background-color:black;
    text-align:center;
    padding-top:80px;
    padding-bottom:35px;
}
div.watch2
{
    background-color:black;
    text-align:center;
    padding-top:80px;
    padding-bottom:35px;
}
span.c
{
    font-size:40px;
    color:white;
    font-weight:bolder;
    margin-top:25px;
}

span.d
{
    color:#cc0000;
    font-size:18px;
    line-height:35px;
}
span.d1
{
    color:#2F4F4F;
    font-size:25px;
    line-height:35px;
    text-align:right;
    font-family:cambria;

}
span.e
{
    color:white;
    font-size:30px;
    line-height:45px;
}
span.e1
{
    color:black;
    font-size:55px;
    text-align:left;
    line-height:45px;
}

a.two
{
    color:#0077ff;
    font-size:25px;
    text-decoration:none;
}
a.two:hover
{
    text-decoration:underline;
}
img
{
    height:350px;
    width650px;
}

div.ipad


{
    background-color:fbfbfb;
    text-align:center;
    padding-top:50px;
    padding-bottom:35px;
}
span.f
{
    font-size:15px;
    color:#cc0000;
}
span.g
{
    font-size:55px;
    color:black;
    font-weight:bold;
}
span.g2
{
    font-size:55px;
    color:black;
    font-weight:bold;
    text-decoration: underline;
}

span.f1
{
    font-size:55px;
    color:white;
}
span.g1
{
    font-size:30px;
    color:white;
    font-family:cambria;
}
span.h
{
    color:black;
    font-size:30px;
    line-height:45px;
}
span.h1
{
   font-size:25px;
}

